<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xml:lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/delete-user}"
      th:object="${user}"
      method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name :</td>

            <td th:text="${user.name}"></td>
        </tr>
        <tr>
            <td>Account :</td>

            <td th:text="${user.account}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
</html>
