<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xml:lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        table, th, td, tr {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div>
    <form>
        <label for="s"></label><input id="s" name="s" type="text"/>
        <input type="submit" value="Search"/>
    </form>
    <br>
</div>
<table>
    <tr>
        <th>Name</th>
        <th>Account</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>

    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.name}"></td>
            <td th:text="${user.account}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phone}"></td>
            <td>
                <a th:href="@{/edit-user/__${user.id}__}">Modify</a>
                <a th:href="@{/delete-user/__${user.id}__}">Delete</a>
                <a th:href="@{/view-user/__${user.id}__}">View</a>
            </td>
        </tr>
    </th:block>
</table>
<a href="/create-user">Create User</a>
<a th:href="@{/login}">Login </a>
</body>
</html>
